In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ashua\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ashua\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ashua\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ashua\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ashua\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\ashua\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# Task 1: Loading Hospitalization Details
In this task, we load the hospitalization details from the 'hospitalisation_details.csv' file into a Pandas DataFrame named 'hosp_details.' This step is essential for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it forms the foundation for the data analysis and insights that we aim to derive from the medical dataset.

In [9]:
import pandas as pd
import os

In [14]:
pwd

'C:\\Users\\ashua'

In [19]:
hosp_details = pd.read_csv(r'C:\Users\ashua\Desktop\Studies\Hi consuler Project\hospitalisation_details.csv')
hosp_details.head()

,c_id,yr,mth,date?,children?,charges?,host_tier,Ct_tier,st_id,Has_Children,Is_Frequent_Treatment
0,Id2335,1992,Jul,9,0,563.84,tier - 2,tier - 3,R1013,no,no
1,Id2334,1992,Nov,30,0,570.62,tier - 2,tier - 1,R1013,no,no
2,Id2333,1993,NaN,30,0,600.00,tier - 2,tier - 1,R1013,no,no
3,Id2332,1992,Sep,13,0,604.54,tier - 3,tier - 3,R1013,no,no
4,Id2331,1998,Jul,27,0,637.26,tier - 3,tier - 3,R1013,no,no

# Task 2: Identifying Null Values in Hospitalization Details
In this task, we identify and count the null values in the 'hosp_details' dataset. This step is crucial for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it helps us understand the extent of missing data within the dataset. Recognizing and handling null values is essential for ensuring the accuracy and quality of our data analysis and insights.

In [22]:
null_values = hosp_details.isnull().sum()
print(null_values)

c_id                     0
yr                       0
mth                      1
date?                    0
children?                0
charges?                 0
host_tier                0
Ct_tier                  0
st_id                    0
Has_Children             0
Is_Frequent_Treatment    0
dtype: int64

# Task 3: Identifying Data Types in Hospitalization Details
In this task, we determine the data types of the columns in the 'hosp_details' dataset. This step is vital for our data analysis, as it provides insights into how the data is stored and helps us select appropriate methods for further analysis. Understanding the data types is crucial for working with the dataset effectively.

In [24]:
datatype = hosp_details.dtypes
print(datatype)

c_id                      object
yr                         int64
mth                       object
date?                      int64
children?                  int64
charges?                 float64
host_tier                 object
Ct_tier                   object
st_id                     object
Has_Children              object
Is_Frequent_Treatment     object
dtype: object

# Task 4: Identifying Duplicate Data in Hospitalization Details
In this task, we aim to identify and quantify the presence of duplicate data within the 'hosp_details' dataset. The count of duplicates (referred to as 'duplicates' in the code) is an important metric. It helps us understand the extent of redundancy in the dataset, which is crucial for data quality and accuracy in our analysis. By recognizing and handling duplicate records, we ensure that our insights and conclusions are based on unique, meaningful data, preventing any potential distortions caused by repeated entries.

In [26]:
duplicates = hosp_details.duplicated().sum()
print(duplicates)

89

# Task 5: Data Preprocessing and Cleaning for Hospitalization Details
In this task, we perform data preprocessing and cleaning on the 'hosp_details' dataset. We start by removing duplicate records to ensure data quality and accuracy. Next, we remove specific columns, 'Has_Children' and 'Is_Frequent_Treatment,' as they are not relevant to our analysis. We also rename columns to improve clarity and understanding of the data. Finally, we save the cleaned dataset as 'hospitalisation_details_cleaned.csv.' This data preprocessing and cleaning is crucial for our analysis, as it ensures that we work with accurate and meaningful data in our new project.

In [37]:
hosp_details.drop_duplicates(inplace=True)

In [38]:
hosp_details.drop_duplicates(inplace=True)
columns_to_remove = ['Has_Children','Is_Frequent_Treatment']

In [39]:
new_columns = {
    'c_id': 'customer_id',
    'yr': 'year',
    'mth': 'month',
    'date?': 'date',
    'children?': 'children',
    'charges?': 'charges',
    'host_tier': 'hospital_tier',
    'Ct_tier': 'city_tier',
    'st_id': 'state_id'
}

hosp_details.rename(columns=new_columns, inplace=True)

In [41]:
hosp_details.to_csv('hospitalisation_details_cleaned.csv', index=False)
print(hosp_details)

     customer_id  year month  date  children   charges hospital_tier  \
0         Id2335  1992   Jul     9         0    563.84      tier - 2
1         Id2334  1992   Nov    30         0    570.62      tier - 2
2         Id2333  1993   NaN    30         0    600.00      tier - 2
3         Id2332  1992   Sep    13         0    604.54      tier - 3
4         Id2331  1998   Jul    27         0    637.26      tier - 3
...          ...   ...   ...   ...       ...       ...           ...
2338         Id5  1989   Jun    19         0  55135.40      tier - 1
2339         Id4  1991   Jun     6         1  58571.07      tier - 1
2340         Id3  1970   Jun    11         3  60021.40      tier - 1
2341         Id2  1977   Jun     8         0  62592.87      tier - 2
2342         Id1  1968   Oct    12         0  63770.43      tier - 1

     city_tier state_id
0     tier - 3    R1013
1     tier - 1    R1013
2     tier - 1    R1013
3     tier - 3    R1013
4     tier - 3    R1013
...        ...      ...
2338  tier - 2    R1012
2339  tier - 3    R1024
2340  tier - 1    R1012
2341  tier - 3    R1013
2342  tier - 3    R1013

[2343 rows x 9 columns]

# Task 6: Loading Medical Examination Data
In this task, we load the medical examination data from the 'medical_examinations.csv' file into a Pandas DataFrame named 'med_exam.' This step is essential for our new project, "Medical Dataset Analysis: Python, SQL, and Insights," as it forms the foundation for the data analysis and insights that we aim to derive from the medical dataset.

In [42]:
med_exam = pd.read_csv(r'C:\Users\ashua\Desktop\Studies\Hi consuler Project\medical_examinations.csv')
med_exam.head()

,cid,b_m_i,HBA1C,h_Issues,any_transplant,cancer_hist,noofmajorsurgeries,smoker??,recovery_period
0,Id1,47.410,7.47,No,No,No,No major surgery,yes,NaN
1,Id2,30.360,5.77,No,No,No,No major surgery,yes,NaN
2,Id3,34.485,11.87,yes,No,No,2,yes,Moderate
3,Id4,38.095,6.05,No,No,No,No major surgery,yes,NaN
4,Id5,35.530,5.45,No,No,No,No major surgery,yes,NaN

# Task 7: Identifying Null Values in Medical Examination Data
In this task, we identify and count the null values in the 'med_exam' dataset. This step is crucial for our new project, as it helps us understand the extent of missing data within the dataset. Recognizing and handling null values is essential for ensuring the accuracy and quality of our data analysis and insights.

In [44]:
null_values = med_exam.isnull().sum()
print(null_values)

cid                      0
b_m_i                    0
HBA1C                    0
h_Issues                 0
any_transplant           0
cancer_hist              0
noofmajorsurgeries       0
smoker??                 0
recovery_period       1096
dtype: int64

# Task 8: Identifying Data Types in Medical Examination Data
In this task, we determine the data types of the columns in the 'med_exam' dataset. This step is vital for our data analysis, as it provides insights into how the data is stored and helps us select appropriate methods for further analysis. Understanding the data types is crucial for working with the dataset effectively.

In [46]:
datatype = med_exam.dtypes
print(datatype)

cid                    object
b_m_i                 float64
HBA1C                 float64
h_Issues               object
any_transplant         object
cancer_hist            object
noofmajorsurgeries     object
smoker??               object
recovery_period        object
dtype: object

# Task 9: Identifying Duplicate Data in Medical Examination Data
In this task, we aim to identify and quantify the presence of duplicate data within the 'med_exam' dataset. The count of duplicates (referred to as 'duplicates' in the code) is an important metric. It helps us understand the extent of redundancy in the dataset, which is crucial for data quality and accuracy in our analysis. By recognizing and handling duplicate records, we ensure that our insights and conclusions are based on unique, meaningful data, preventing any potential distortions caused by repeated entries.

In [47]:
duplicates = med_exam.duplicated().sum()
print(duplicates)

39

# Task 10: Data Preprocessing and Cleaning for Medical Examination Data
In this task, we perform data preprocessing and cleaning on the 'med_exam' dataset. We start by removing duplicate records to ensure data quality and accuracy. Next, we remove a specific column, 'recovery_period,' as it may not be relevant to our analysis. We also rename columns to improve clarity and understanding of the data. Finally, we save the cleaned dataset as 'medical_examinations_cleaned.csv.' This data preprocessing and cleaning is crucial for our analysis, as it ensures that we work with accurate and meaningful data in our new project.

In [54]:
med_exam.drop_duplicates(inplace=True)
columns_to_remove = ["recovery_period"]

In [56]:
new_columns = {
    'cid': 'customer_id',
    'b_m_i': 'BMI',
    'h_Issues': 'health_issues',
    'cancer_hist': 'cancer_history',
    'noofmajorsurgeries': 'numberofmajorsurgeries',
    'smoker??': 'smoker'
}
med_exam.rename(columns=new_columns, inplace=True)

In [58]:
med_exam.to_csv('medical_examinations_cleaned.csv', index=False)
print(med_exam)

     customer_id     BMI  HBA1C health_issues any_transplant cancer_history  \
0            Id1  47.410   7.47            No             No             No
1            Id2  30.360   5.77            No             No             No
2            Id3  34.485  11.87           yes             No             No
3            Id4  38.095   6.05            No             No             No
4            Id5  35.530   5.45            No             No             No
...          ...     ...    ...           ...            ...            ...
2330      Id2331  22.340   5.57            No             No             No
2331      Id2332  17.700   6.28            No             No             No
2332      Id2333  16.470   6.35            No             No            Yes
2333      Id2334  17.600   4.39            No             No             No
2334      Id2335  17.580   4.51            No             No             No

     numberofmajorsurgeries smoker
0          No major surgery    yes
1          No major surgery    yes
2                         2    yes
3          No major surgery    yes
4          No major surgery    yes
...                     ...    ...
2330                      1     No
2331                      1     No
2332                      1     No
2333                      1     No
2334                      1     No

[2335 rows x 8 columns]